<div class="container">


    <div class="row">
        <div class="center col-sm12">
            <img src="/public/assets/img/burger.png" alt="burger" height="300">
            <h1>Eat this tasty burger</h1>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6" id="not eaten">
            <h1>Burgers Ordered</h1>
            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                <li>
                    {{this.id}}
                    {{this.burger_name}}

                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="true">
                        <button type="submit" class="btn btn-outline-warning devour">Devour it!</button>
                    </form>
                </li>
                {{/unless}}
                {{/each}}
            </ul>

        </div>
    </div>


    <div class="row">
        <div class="col-sm-6" id="eaten">
            <h2>Devoured burgers!</h2>

            <ul>
                {{#each burgers}}
                {{#if this.devoured}}
                <li>
                    {{this.id}}
                    {{this.burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" id="add_burger">
            <h2>Add a Burger</h2>
            <form class="create-form" action="/" method="POST">

                <div class="form-group">
                    <p>Type in your favorite burger name and hit submit button</p>
                    <input type="text" id="burger" name="burger_name">
                </div>

                <button type="submit" class="btn-primary" id="add_burger"> Add Burger </button>
            </form>
        </div>
    </div>

</div>