<div class="container">


    <div class="jumbotron vertical-center">
        <div class="container">
            <div class="center col-md-12">
                <h1>Eat this tasty burger</h1>

                <img src="https://png.pngtree.com/element_pic/16/11/30/ebc8e7b96219e826c99a5f877ffe50a9.jpg" alt="Eat-Da-Burger App">

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6" id="not eaten">
            <h2>Burgers Ordered</h2>
            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                <li>
                    {{this.id}}
                    {{this.burger_name}}

                    <form action="/{{this.id}}?_method=PUT" method="POST"></form>
                    <input type="hidden" name="devoured" value="true">
                    <button type="submit" class="center-block">Devour It!</button>


                </li>
                {{/unless}}
                {{/each}}
            </ul>

        </div>

        <div class="col-sm-6" id="eaten">
            <h2>Devoured burgers!</h2>

            <ul>
                {{#each burgers}}
                {{#if this.devoured}}
                <li>
                    {{this.id}}
                    {{this.burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>

    </div>
    <br>

    <div class="row">
        <div class="col-sm-12" id="add_burger">
            <h2>Add a Burger</h2>
            <form class="create-form" action="/" method="POST">

                <div class="form-group">
                    <p>Type in your favorite burger name and hit submit button</p>
                    <input type="text" id="burgers" name="burger_name">
                </div>

                <button type="submit" class="btn-primary" id="add_burger"> Add Burger </button>
            </form>
        </div>
    </div>

</div>